<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://github.com/kudobuilder/kudo/blob/master/logo/kudo_stacked_color.png" type="image/x-icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div id="content">{% block content %}{% endblock %}</div>
</body>