{% extends "base.html" %}
{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="container">
   <script>
    //    Polling script
        setInterval(function()
            {
                $.ajax({
                    type: "get",
                    url: "{{ messages_endpoint }}",
                    success:function(data)
                    {
                        //console.log the response
                        console.log(data);
                        $("div.messages").html(data);
                    }
                });
            }, 7500);
    </script>
    <div class="messages">Loading...</div>
</div>
{% endblock %}