{% extends "base.html" %}
{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="container">
    <script>
        // document.ready function
        $(document).ready(function () {
            // selector has to be . for a class name and # for an ID
            $('.call').on("click", function (e) {
                e.preventDefault(); // prevent form from reloading page

                let x = $(this);
                url = x.attr('url');
                console.log(x)
                console.log(url);
                $.ajax({
                    'url': url,
                    'type': 'GET',
                    'success': function (data) {
                        console.log("set color")
                    }
                })
            });
        });
    </script>
    <script>
        //    Polling script to check for color changes
        setInterval(function () {
            $.ajax({
                type: "get",
                url: "/v0alpha1/get-color",
                success: function (data) {
                    // data = '"' + data + '"';
                    if (!jQuery.isEmptyObject(data)) {
                        data = JSON.parse(data);
                        //console.log the response
                        console.log(data);
                        console.log(typeof data);
                        $('.color').css("background-color", data["color"]);
                        $('div.color').html(data["color"]);
                    }

                }
            });
        }, 1000);
    </script>
    <nav class="rc-nav">
        <ul>
            <li>
                <a href="javascript:void(0)" class="call" url="/generate-numbers">Generate Numbers</a>
            </li>
            <li>
                <a href="javascript:void(0)" class="call" url="/v0alpha1/set-color/red">Set Color: Red</a>
                <a href="javascript:void(0)" class="call" url="/v0alpha1/set-color/blue">Set Color: Blue</a>
                <a href="javascript:void(0)" class="call" url="/v0alpha1/set-color/green">Set Color: Green</a>
                <a href="javascript:void(0)" class="call" url="/v0alpha1/set-color/purple">Set Color: Purple</a>
            </li>
        </ul>
    </nav>
    <div class="color" width=80% height=30px>Here is some text</div>
</div>
{% endblock %}